<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="nj4x_server_host" value="127.0.0.1"/>
    <add key="nj4x_server_port" value="7777"/>
    <add key="nj4x_activation_key" value="943289279"/>
    <add key="nj4x_use_udp" value="false"/>
    <add key="nj4x_socket_read_timeout_millis" value="-1"/>
    <!-- To enable internal log4net logging specify the following appSettings key -->
    <!--    <add key="log4net.Internal.Debug" value="true"/> -->
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
  </appSettings>
<startup>
  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/></startup></configuration>
